*:not(button){
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

h1 {
    color: darkorange;
    padding: 10px 20px;
    
}

p {
    padding: 20px;
}

img{
    padding: 0 20px;
}

button{
    margin: 20px;
    padding: 20px;
    border-radius: 4px;
}