* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

#container {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
}

#carrouselr-container {
    height: 300px;
    width: 100vw;
    background: #3f4141;
    box-shadow: 5px 5px 8px gray inset;
    position: relative;
    overflow: hidden;
    padding: 20px;
}

#carrouselr-container .btn {
    position: absolute;
    top: calc(50% - 10px);
    height: 30px;
    width: 30px;
    border-left: 8px solid red;
    border-top: 8px solid red;
    cursor: pointer;
}

#carrouselr-container .btn:hover {
    transform: scale(1.2);
}

#carrouselr-container .btn.inactive {
    border-color: rgb(153, 121, 126);
}

#carrouselr-container .btn:first-of-type {
    transform: rotate(-45deg);
    left: 10px;
}

#carrouselr-container .btn:last-of-type {
    transform: rotate(135deg);
    right: 10px;
}

#carrouselr-container #carrouselr {
    display: flex;
    width: 1000%;
    height: 100%;
    transition: all .55s;
}

#carrouselr-container #carrouselr .carrousel {
    height: 90%;
    margin: auto 10px;
    background-color: #c6c6c6;
    box-shadow: 2px 2px 4px 2px white, -2px -2px 4px 2px white;
    display: grid;
    place-items: center;
}

#carrouselr-container #carrouselr .carrousel span {
    color: white;
    font-size: 150px;
}

@media only screen and (min-width: 1100px) {
    #carrouselr-container #carrouselr .carrousel {
        width: calc(2.5% - 20px);
    }
}

@media only screen and (max-width: 1100px) {
    #carrouselr-container #carrouselr .carrousel {
        width: calc(3.333333% - 20px);
    }
}

@media only screen and (max-width: 900px) {
    #carrouselr-container #carrouselr .carrousel {
        width: calc(5% - 20px);
    }
}

@media only screen and (max-width: 550px) {
    #carrouselr-container #carrouselr .carrousel {
        width: calc(10% - 20px);
    }
}