*{
    margin: 0;
padding: 0;
border: 0;
box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
p{
    width: 50vw;
    text-align: justify;
    
}

.paragraph__left{
    position: relative;
    top: 50px;
    left: 25vw;
    background-color: aquamarine;
}

.paragraph__right{
    position: relative;
    bottom: 50px;
    right: 25vw;
    background-color: burlywood;
}



div{
    width: 100px;
    height: 100px;
    position: absolute;
}

.div__1{
    background-color: aqua;
    top: 0;
    left: 0;
}

.div__2{
    background-color: blueviolet;
    top: 0;
    right: 0;
}

.div__3{
    background-color: chartreuse;
    bottom: 0;
    right: 0;
    
}

.div__4{
    background-color: coral;
    bottom: 0;
    left: 0;
}

.div__5{
    background-color: cornflowerblue;
    top: calc(50vh - 50px);
    left: calc(50vw - 50px);
}