* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.div1 {
    background-color: darkcyan ;
    padding: 30px;
    display: inline-block;
    
}

.div2 {
    background-color: lightgreen;
    padding: 10px;
    display: inline-block;


}

.div3{
    background-color: royalblue;
    padding: 50px;
    display: inline-block;
}
