* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

div {
    border-radius: 12px;
    margin: 15px;
    display: inline-block;
}

.div1 {
    background-color: darkcyan;
    height: 200px;
    width: 205px;

}

.div2 {
    background-color: lightgreen;
    height: 100px;
    width: 250px;

}

.div3 {
    background-color: royalblue;
    height: 150px;
    width: 200px;
}