* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

div {
    background-color: cadetblue;
    width: 100vw;
    height: 50px;
}
h1{
    height: 150px;
    background-color: blueviolet;
}
.sticky {
    position: sticky;
    top: 100px;

}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: end;
    align-content: center;
    margin: 15px 30px;

}

li{
    margin: 0 7px;
}