* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* @charset "UTF-8"; */

:root {
    font-size: 100%;
    font-family: system-ui, sans-serif;
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    * {
        -webkit-animation: none !important;
        animation: none !important;
        -webkit-transition: none !important;
        transition: none !important;
    }
}

*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

*::before,
*::after {
    display: block;
}

img,
picture,
video,
iframe,
figure,
canvas {
    max-width: 100%;
    width: 100%;
    display: block;
    height: initial;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
    font: inherit;
}

p a {
    display: inline;
}

li,
menu,
summary {
    list-style: none;
}

ol {
    counter-reset: revert;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em,
mark,
del,
pre,
code {
    font: inherit;
    color: inherit;
    text-decoration: none;
    text-wrap: pretty;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

form,
input,
textarea,
select,
button,
label {
    font: inherit;
    hyphens: auto;
    background-color: transparent;
    color: inherit;
    display: block;
}

textarea {
    white-space: pre-wrap;
}

button,
label {
    cursor: pointer;
}

::placeholder {
    color: unset;
}

table,
tr,
td,
th,
thead,
tbody,
tfoot {
    border-collapse: collapse;
    border-spacing: 0;
    font: inherit;
}

svg {
    width: 100%;
    display: block;
    fill: currentColor;
}

p svg {
    display: inline;
    width: initial;
}

:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

:where([draggable="true"]) {
    -webkit-user-drag: element;
}

body {
    min-height: 100vh;
    color: inherit;
    line-height: 1.5em;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #e0e0e0;

    display: flex;
    align-items: center;
}

.grid {
    width: 90%;
    max-width: 56.25rem;
    margin: 2em auto;
    padding: 1em;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    gap: 1rem;
}

.grid .img {
    background-color: orange;
    box-shadow: .5rem .5rem 1rem #cecece, -.5rem -.5rem 1rem #f2f2f2;
    cursor: pointer;
    transition: all .5s ease;
}

.grid .img:hover {
    transform: scale(.95);
}

.grid .img:active {
    transform: scale(1.1);
}

.lightbox {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    backdrop-filter: blur(2rem);

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;
    transition: all .5s ease;
}

.lightbox.isActive{
    opacity: 1;
    pointer-events: auto;
}

.lightbox .close {
    width: 3rem;
    color: white;
    cursor: pointer;
    transition: all .5s ease;
    gap: 1rem;
}

.lightbox .close:hover {
    transform: scale(.95);
}

.lightbox .close:active {
    transform: scale(1.1);
}

.lightbox .svg {}

.lightbox .grande {
    width: 90%;
    max-width: 900px;
    height: 70vh;
box-shadow: 0 0 1rem 0 rgb(0,0,0,.4);
}