* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

header {
    background-color: darkgrey;
    height: 75px;
    padding: 15px;
    display: flex;
    justify-content:space-between ;
    align-items: center;
}

ul li {
    display: inline;
    font-weight: bold;
    font-size: 30px;

}

li {
    padding-left: 15px;
    color: black;
    cursor: pointer;
}

li:hover {
    color: #fafafa;
}

.icon {
    width: 50px;
}

main{
    padding: 15px;
    min-height: calc(100vh - 125px);
    display: flex;
    flex-direction: column;
    
}

p{
    padding: 40px 0;
    text-align: justify;
    
}

.photos{
    display: flex;
    flex-wrap: wrap;
}

.photo{
    width: calc(50vw - 44px);
    height: calc(50vw - 44px);
    margin: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.photo1{
    background-image:url(../01/pajaro3.jpg)
}
.photo2{
    background-image:url(../01/pajaro\ 2.jpg)
}
.photo3{
    background-image:url(../01/parjaros.jpg)
}
.photo4{
    background-image:url(../01/pajaro\ copy.jpg)
}

footer{
    background-color: darkgrey;
    height: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 7px;
    color: #fafafa;
}