* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

div{
    width: 40vw;
    margin: 50px;
    padding: 20px;
}
.box_shadow {
    box-shadow: 21px 7px 28px 8px rgba(161, 161, 161, 1);
}

.text_shadow {
    text-shadow: 7px 6px 7px #CE5937;

}