* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.div1 {
    background-color: darkcyan ;
    
}

.div2 {
    background-color: lightgreen;
    display: none;
}

.div3{
    background-color: royalblue;
}
