* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

div {
    background-color: blue;
    display: inline;
}

span {
    background-color: cadetblue;
    display: block;
}