* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

header {
    background-color: darkgrey;
    height: 75px;
    padding: 15px;
}

nav {
    float: right;
}

ul li {
    display: inline;
    font-weight: bold;
    font-size: 30px;

}

li {
    padding-left: 15px;
    color: black;
    cursor: pointer;
}

li:hover {
    color: beige;
}

img {
    width: 50px;


}